<div id="<%= dom_id batch %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= batch.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= batch.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= batch.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Finished:</strong>
    <%= batch.finished %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= batch.amount %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Images:</strong>
    <% batch.images.each do |image| %>
      <div><%= link_to image.filename, image %></div>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Attachments:</strong>
    <% batch.attachments.each do |attachment| %>
      <div><%= link_to attachment.filename, attachment %></div>
    <% end %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this batch", batch, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this batch', edit_batch_path(batch), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
