<div id="<%= dom_id formula_step %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= formula_step.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= formula_step.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Formula:</strong>
    <%= formula_step.formula_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this formula step", formula_step, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this formula step', edit_formula_step_path(formula_step), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
