<div id="<%= dom_id batch_step %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= batch_step.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= batch_step.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Resource:</strong>
    <%= batch_step.resource_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Batch:</strong>
    <%= batch_step.batch_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this batch step", batch_step, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this batch step', edit_batch_step_path(batch_step), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
