<div>
  <h1 class="font-bold text-4xl">Dashboard</h1>
  <ul class="py-4">
    <li><%= link_to "Batches", batches_path  %></li>
    <li><%= link_to "BatchSteps", batch_steps_path  %></li>
    <li><%= link_to "Comments", comments_path  %></li>
    <li><%= link_to "ExecutedSteps", executed_steps_path  %></li>
    <li><%= link_to "FormulaCategories", formula_categories_path  %></li>
    <li><%= link_to "FormulaIngredients", formula_ingredients_path  %></li>
    <li><%= link_to "FormulaSteps", formula_steps_path  %></li>
    <li><%= link_to "Formulas", formulas_path  %></li>
    <li><%= link_to "Ingredients", ingredients_path  %></li>
    <li><%= link_to "Users", users_path  %></li>
  </ul>
</div>
