<div id="<%= dom_id formula %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= formula.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= formula.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= formula.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Images:</strong>
    <% formula.images.each do |image| %>
      <div><%= link_to image.filename, image %></div>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Attachments:</strong>
    <% formula.attachments.each do |attachment| %>
      <div><%= link_to attachment.filename, attachment %></div>
    <% end %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this formula", formula, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this formula', edit_formula_path(formula), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
