<div id="<%= dom_id resource %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= resource.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= resource.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= resource.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Lot number:</strong>
    <%= resource.lot_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Amount in kg:</strong>
    <%= resource.amount_in_kg %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Attachments:</strong>
    <% resource.attachments.each do |attachment| %>
      <div><%= link_to attachment.filename, attachment %></div>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Images:</strong>
    <% resource.images.each do |image| %>
      <div><%= link_to image.filename, image %></div>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ingredient:</strong>
    <%= resource.ingredient_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this resource", resource, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this resource', edit_resource_path(resource), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
