<div id="<%= dom_id executed_step %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= executed_step.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= executed_step.state %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Executed at:</strong>
    <%= executed_step.executed_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= executed_step.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Batch:</strong>
    <%= executed_step.batch_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Process step:</strong>
    <%= executed_step.process_step_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this executed step", executed_step, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this executed step', edit_executed_step_path(executed_step), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
